body {
    font-family: sans-serif;
}
.card {
    width: 25%;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
}
th,
td {
    padding: 5px;
    font-size: 14px;
}
textarea {
    resize: unset;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea {
    padding: 5px 0px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
}
input[type="radio"],
input[type="checkbox"] {
    margin-top: 10px;
    margin-bottom: 10px;    
}
img,
input[type="file"] {
    margin: 10px 0px;
}
button[type="reset"],
button[type="submit"] {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}
button[type="reset"] {
    background-color: rgb(245, 229, 6)
}
button[type="submit"] {
    background-color: rgb(6, 117, 245);
    color: white;
}