<div class="card">
	<div class="card-header">
		<h1>Form Jurusan</h1>
	</div>
	
	<form id="form-input">
		<div class="card-body">
			<div class="form-group row">
				<label class="col-form-label col-md-2">ID</label>
				<input class="form-control col-md" type="text" name="id" />
			</div>
			
			<div class="form-group row">
				<label class="col-form-label col-md-2">Kode Jurusan</label>
				<input class="form-control col-md" type="text" name="kdJurusan" />
			</div>
			
			<div class="form-group row">
				<label class="col-form-label col-md-2">Nama Jurusan</label>
				<textarea class="form-control col-md" name="nmJurusan"></textarea>
			</div>
			
			<div class="form-group row">
				<label class="col-form-label col-md-2">Kode Fakultas</label>
				<textarea class="form-control col-md" name="fakultasId"></textarea>
			</div>
		</div>
		
		<div class="card-footer">
			<button class="btn btn-success" type="submit">Simpan</button>
		</div>
	</form>
</div>