
 <form action="/employee/save" method="post">
 
	 <div class="modal-header">
	 
		<h3 class="modal-title">New Employee</h3>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
       	</button>
	</div>
	<div class="modal-body">
		<div class="form-group row">
			<label class="col-form-label col-md-3">First name</label>
			<div class="col col-md-3">
				<input type="text" name="firstName" class="form-control" required>
			</div>
			<label class="col-form-label col-md-2">Last name</label>
			<div class="col col-md-4">
				<input type="text" name="lastName" class="form-control" required>
			</div>
		</div>	
		<div class="form-group row">
			<label class="col-form-label col-md-3">Address</label>
			<div class="col col-md-9">
				<textarea name="address" style="resize:unset" class="form-control" required></textarea>
			</div>
		</div>	
		<div class="form-group row">
			<label class="col-form-label col-md-3">Email</label>
			<div class="col col-md-9">
				<input type="text" name="email" class="form-control" required>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-form-label col-md-3">Place of Birth</label>
			<div class="col col-md-3">
				<input type="text" name="birthPlace" class="form-control" required>
			</div>
			<label class="col-form-label col-md-2">Date of Birth</label>
			<div class="col col-md-4">
				<input type="date" name="birthDate" class="form-control" required>
			</div>
		</div>
		<hr>
		<div class="form-group row">
			<div class="col-3 offset-9">
				<button type="submit" class="btn btn-success btn-lg col">SUBMIT</button>
			</div>
		</div>
	</div>
	
</form>
