<!DOCTYPE html>
 <html lang="en" xmlns:th="http://www.thymeleaf.org">
 <head>
 	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../bootstrap-4.3.1-dist/css/bootstrap.min.css">
    
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="../../fontawesome-free-5.8.1-web/css/all.min.css" >
    
 	<title>Employee Lists</title>
 </head>
 <body>
 
	 <div class="container">
	 
	 	<br><br>
	 	
	 	<h1 class="text-center"><strong>Employee Lists</strong></h1>
	 	<br>
	 	<div class="row">
		 	<p class="col">
		 		<a href="/biodata" class="btn btn-light col-2">
		 			<strong>Biodata</strong>
		 		</a>
		 		<a href="/employee" class="btn btn-light col-2">
		 			<strong>Employee</strong>
		 		</a>
		 		<a href="#" id="btn-add" class="btn btn-primary btn-lg col-2 float-right">
		 			<em>Add &nbsp<i class="fas fa-plus"></i></em>
		 		</a>
		 	</p>
	 	</div>
	 	<div class="card">	 		
 			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th>ID</th>
						<th>First name</th>
						<th>Last name</th>
						<th>Address</th>
						<th>Email</th>
						<th>Place / Date of Birth</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="emp : ${listData}">
						<td><span th:text="${emp.id}"></span></td>
						<td><span th:text="${emp.firstName}"></span></td>
						<td><span th:text="${emp.lastName}"></span></td>
						<td><span th:text="${emp.address}"></span></td>
						<td><span th:text="${emp.email}"></span></td>
						<td><span th:text="${emp.birthPlace}"></span> / <span th:text="${emp.birthDate}"></span></td>
						<td class="text-right">
							<a th:href="@{/employee/edit/{id}(id=${emp.id})}" class="btn-edit btn btn-warning btn-sm col-5">
								<em>Edit &nbsp<i class="fas fa-edit"></i></em>
							</a>
							<a th:href="@{/employee/delete/{id}(id=${emp.id})}" class="btn-delete btn btn-danger btn-sm col-5">
								<em>Delete &nbsp<i class="fas fa-trash-alt"></i></em>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
	 	</div>
	 	
	 	<br><br>
	 	
	</div>	
	
	<!-- Mulai Modal -->
	<div id="modal-form" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				
			</div>
		</div>
	</div>
	<!-- Modal Selesai -->

	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then other JS -->
    <script type="text/javascript" src="../../js/jquery-3.4.0.min.js"></script>
    <script type="text/javascript" src="../../js/popper.min.js"></script>
    <script type="text/javascript" src="../../bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../fontawesome-free-5.8.1-web/js/fontawesome.min.js"></script>
    
    <script type="text/javascript">
    	
   		$("#btn-add").click(function() {
       		$.ajax({
       			url:'/employee/add',
       			type:'get',
       			dataType:'html',
       			success:function(hasil){
       				$("#modal-form").find(".modal-content").html(hasil);
       				$("#modal-form").modal("show");		
       			}
       		});
       	});	
   	
    	$(".btn-edit").click(function() {
    		var a = $(this).attr("href");
    		$.ajax({
       			url:a,
       			type:'get',
       			dataType:'html',
       			success:function(hasil){
       				$("#modal-form").find(".modal-content").html(hasil);
       				$("#modal-form").modal("show");		
       			}
       		});
    		return false;
    	});
    	
    	$(".btn-delete").click(function() {
    		// alert("Test")
    		var a = $(this).attr('href')
    		$.ajax({
       			url:a,
       			type:'get',
       			dataType:'html',
       			success:function(hasil){
       				$("#modal-form").find(".modal-content").html(hasil);
       				$("#modal-form").modal("show");		
       			}
       		});
    		return false;
    	})
    	
    </script>
    
 </body>
 </html>