<!DOCTYPE html>
 <html lang="en" xmlns:th="http://www.thymeleaf.org">
 <head>
 	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../bootstrap-4.3.1-dist/css/bootstrap.min.css">
    
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="../../fontawesome-free-5.8.1-web/css/all.min.css">
    
 	<title>Biodata Lists</title>
 </head>
 <body>
 
 	<div class="container">
 	
	 	<br><br>
	 	
	 	<h1 class="text-center"><strong>Biodata Lists</strong></h1>
	 	<br>
	 	<div class="row">
		 	<p class="col">
		 		<a href="/biodata" class="col-2 btn btn-light">
					<strong><em>Biodata</em></strong>
				</a>
				<a href="/employee" class="col-2 btn btn-light">
					<strong><em>Employee</em></strong>
				</a>
				<a href="/biodata/add" class="col-2 btn btn-primary btn-lg float-right">
					<em>Add &nbsp<i class="fas fa-plus"></i></em>
				</a>
			</p>
	 	</div>
		<div class="card">
		 	<table class="table">
				<thead class="thead-dark">
					<tr>
						<th>ID</th>
						<th>Nama</th>
						<th>Alamat</th>
						<th>Jenis Kelamin</th>
						<th>No. Telpon</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="bd : ${listData}">
						<td><span th:text="${bd.id}"></span></td>
						<td><span th:text="${bd.nama}"></span></td>
						<td><span th:text="${bd.alamat}"></span></td>
						<td><span th:text="${bd.jk}"></span></td>
						<td><span th:text="${bd.telp}"></span></td>
						<td class="text-right">
							<a th:href="@{/biodata/edit/{id}(id=${bd.id})}" class="btn btn-warning btn-sm col-5">
								<em>Edit &nbsp<i class="fas fa-edit"></i></em>
							</a>
							<a th:href="@{biodata/delete/{id}(id=${bd.id})}" class="btn btn-danger btn-sm col-5">
								<em>Delete &nbsp<i class="fas fa-trash-alt"></i></em>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<br><br>
		
	</div>
	
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then other JS -->
    <script type="text/javascript" src="../../js/jquery-3.4.0.min.js"></script>
    <script type="text/javascript" src="../../js/popper.min.js"></script>
    <script type="text/javascript" src="../../bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../fontawesome-free-5.8.1-web/js/fontawesome.min.js"></script>
    
 </body>
 </html>